.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.test {
  background-color: #daeaf1;
}

.navbar {
  background-color: #4394b6;
  color: #F1F6F9;
  font-size: large;
}

.navbar-dark {
  --bs-navbar-color: #4394b6;
  --bs-navbar-hover-color: #f1f6f9bb;
  --bs-navbar-disabled-color: #f1f6f980;
  --bs-navbar-active-color: #F1F6F9;
  --bs-navbar-brand-color: #F1F6F9;
  --bs-navbar-brand-hover-color: #F1F6F9;
  /* --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1); */
  /* --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%28255, 255, 255, 0.55%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e); */
}

/* 
.card {
  transform-style: preserve-3d;
  transition: 250ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
}

.card.flip {
  --rotate-y: 180deg;
}
.card.front {
  left: 0;
}

.card.front, .card.back {
  position: absolute;
  padding: 1;
  backface-visibility: hidden;
}

.card.back {
  transform: rotateY(180deg);
} */